<h2>Home</h2>

<h3>Add Company</h3>
<form action="/index/company/new" method="post">
    <label>Company Name:</label>
    <input type="text" name="name">
    <label>Company Email: </label>
    <input type="text" name="email">
    <button type="submit">Save Company</button>
</form>


<h3>Add Subscriber</h3>
<form action="/index/subscriber/new" method="post">
    <label>Subscriber Name:</label>
    <input type="text" name="name">
    <label>Subscriber Email: </label>
    <input type="text" name="email">
    <button type="submit">Save Subscriber</button>
</form>


<hr>

<H2>Listed companies</H2>
<% if @companies.any?() %>
<ul>
    <% @companies.each do |company| %>
        <li><%= company.name %></li>
        <li><%= company.email %></li>
    <% end %>
</ul>
<% else %>
    <p>No companies added</p>
<% end %>

<h2>Listed Subscribers</h2>
<% if @subscribers.any?()%>
    <ul>
        <% @subscribers.each do |subscriber| %>
            <li><%= subscriber.name %></li>
            <li><%= subscriber.email %></li>
        <% end %>
    </ul>
<% else%>
    <p>No added subscribers yet</p>
<% end %>